@charset "UTF-8";

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}



.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

.page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

section {
    margin-bottom: 160px;
}

img {
    vertical-align: bottom;
}

/* header */

header {
    width: 100%;
    height: 83px;
    position: fixed;
    padding: 10px 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 0 6px 3px grey;
}

.header-box {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    padding-left: 0.5rem;
}

.header-nav ul {
    display: flex;
    align-items: center;
}

.header-nav ul li {
    transition: .3s;
    padding-left: 30px;
}

.header-nav ul li:hover{
    opacity: 0.5;
}

.header-nav2 {
    position: fixed;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    padding: 80px;
    top: 0px;
    left: -700px;
    transition: .8s;
}

.open .header-nav2  {
    left: 0;
}

.open .header-nav2 ul li a {
    color: white;
    font-size: 18px;
    transition: .3s;
}

.open .header-nav2 ul li a:hover {
    color: grey;
}

.open .header-nav2 ul li {
    margin-bottom: 25px;
}

header img {
    width: 130px;
}

.toggle-btn {
    position: absolute;
    top: 20px;
    right: 5%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
}

.toggle-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: black;
}

.toggle-btn span:nth-of-type(1){
    top: 20%;
}

.toggle-btn span:nth-of-type(2){
    top: 50%;
}

.toggle-btn span:nth-of-type(3){
    top: 80%;
}

/* main */

/* mainvisual */

.mainvisual {
    padding-top: 83px;
}

.mainvisual img {
    position: absolute;
    top: 83px;
    left: 0;
    width: 100%;
    opacity: 0;
    animation: change-img 15s infinite;
}

.mainvisual img:nth-of-type(1) {
    animation-delay: 0s;
}

.mainvisual img:nth-of-type(2) {
    animation-delay: 5s;
}

.mainvisual img:nth-of-type(3) {
    animation-delay: 10s;
}

@keyframes change-img {
    0%{opacity: 0;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}




/* salon */

.salon {
    text-align: center;
    margin-top: 65%;
}

.sec-title {
    position: relative;
    font-size: 38px;
    margin-bottom: 50px;
}


.salon h3 {
    font-size: 25px;
    margin-bottom: 32px;
}

.salon-text {
    text-align: left;
    padding: 0 80px;
    margin-bottom: 30px;
}

.salon-text p {
    margin-bottom: 24px;
}

.salon-photo {
    display: flex;
}

.salon-photo img {
    width: 50%;
}

/* staff */

.staff {
    text-align: center;
}

.staff-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.staff-item {
    width: 31%;
}

.staff-item img {
    width: 100%;
    transition: .3s;
}

.staff-item img:hover{
    opacity: 0.8;
}

.staff-item p {
    font-size: 16px;
    margin-top: 8px;
}

.web-box {
    position: relative;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    background-color: black;
    margin-top: 10px;
    border: 2px solid black;
}

.web-box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 39px;
    color: white;
    transition: .3s;
}

.web-box a:hover {
    color: black;
    background-color: white;
}

.all-staff {
    position: relative;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    background-color: black;
    border: 2px solid black;
}

.all-staff a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: white;
    transition: .3s;
}

.all-staff a:hover {
    color: black;
    background-color: white;
}

/* map */

.map {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.map iframe {
    width: 50%;
}

.map-box {
    width: 45%;
}

.map-box h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.map-box dl {
    display: flex;
    margin-bottom: 40px;
}

.map-box dl dt {
    width: 25%;
}

/* footer */

footer {
    padding: 16px 0;
    background-color: black;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
}

footer p {
    color: white;
    margin-left: 16%;
}

footer img {
    width: 35px;
    margin-left: 30px;
}

/* menu-page */

.menu-page {
    padding-top: 150px;
    text-align: center;
    margin-bottom: 160px;
}

.page-title {
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
}

.page-title::after{
    position: absolute;
    content: "";
    width: 110%;
    height: 3px;
    background: black;
    left: -5%;
    bottom: 0;
}



.menu-list {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}


.menu-label {
    display: block;
    padding: 25px;
    line-height: 1;
    cursor: pointer;
    font-size: 30px;
    border: 1px solid black;
    letter-spacing: 3px;
}

.menu-label::before{
    position: absolute;
    content: "";
    left: 32.5%;
    top: 63px;
    width: 35%;
    height: 1px;
    background: black;
}

input {
    display: none;
}

.list-name {
    display: flex;
    justify-content: space-between;
}

.menu-list .list-name {
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

#menu-bar01:checked ~ #links01 .list-name {
    height: 59px;
    opacity: 1;
    border-bottom: 1px solid black;
    padding: 30px 0 5px 10px;
}

#menu-bar02:checked ~ #links02 .list-name {
    height: 59px;
    opacity: 1;
    border-bottom: 1px solid black;
    padding: 30px 0 5px 10px;
}
#menu-bar03:checked ~ #links03 .list-name {
    height: 59px;
    opacity: 1;
    border-bottom: 1px solid black;
    padding: 30px 0 5px 10px;
}
#menu-bar04:checked ~ #links04 .list-name {
    height: 59px;
    opacity: 1;
    border-bottom: 1px solid black;
    padding: 30px 0 5px 10px;
}
#menu-bar05:checked ~ #links05 .list-name {
    height: 59px;
    opacity: 1;
    border-bottom: 1px solid black;
    padding: 30px 0 5px 10px;
}
#menu-bar06:checked ~ #links06 .list-name {
    height: 59px;
    opacity: 1;
    border-bottom: 1px solid black;
    padding: 30px 0 5px 10px;
}
#menu-bar07:checked ~ #links07 .list-name {
    height: 59px;
    opacity: 1;
    border-bottom: 1px solid black;
    padding: 30px 0 5px 10px;
}

.menu-btn {
    position: absolute;
    top: 15px;
    right: 12%;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}

.menu-btn::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 23%;
    border-top: 13px solid white;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
}

/* staff-page */

.staff-page {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}

.staff-page img {
    width: 70%;
    margin-bottom: 10px;
    transition: .3s;
}

.staff-page img:hover{
    opacity: 0.8;
}

.staffPage-items {
    text-align: center;
}

.staffPage-item {
    width: 100%;
    margin-bottom: 50px;
}

.staffPage-item p {
    margin-top: 6px;
}

.staffPage-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.staff-Profile {
    width: 240px;
    height: 32px;
    line-height: 32px;
    position: relative;
    margin: 0 auto;
    margin-top: 12px;
    border: 2px solid black;
    transition: .3s;
}


.staff-Profile a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.staff-Profile a:hover {
    background-color: rgb(186, 186, 186);
}

.staffPage-web {
    width: 240px;
    height: 32px;
    line-height: 32px;
    position: relative;
    margin: 0 auto;
    margin-top: 14px;
    background-color: black;
    border: 2px solid black;
}

.staffPage-web a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    transition: .3s;
}

.staffPage-web a:hover {
    color: black;
    background-color: rgb(186, 186, 186);
}

/* blog */

.blog-page {
    padding-top: 150px;
    text-align: center;
}

.blog-contents {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 80%;
    padding: 3%;
}

.blog-contents:last-child {
    margin-bottom: 100px;
}

.blog-left {
    width: 35%;
}

.blog-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.blog-left img:hover{
    opacity: 0.8;
}

.blog-right {
    width: 60%;
}

.blog-title {
    font-size: 28px;
    margin-bottom: 8px;
}

.blog-day {
    font-size: 18px;
    margin-bottom: 8px;
}

.blog-name {
    font-size: 18px;
    margin-bottom: 60px;
}

.blog-text {
    position: relative;
}

.blog-text p {
    margin-bottom: 14px;
}

.blog-btn {
    position: absolute;
    bottom: -20%;
    right: 0;
    display: inline-block;
    padding: 0 6px;
}

.blog-btn a {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 11px;
    transition: .2s;
    padding: 2px 5px;
    background-color: black;
}

.blog-btn a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* hair style */

.hair-page {
    padding-top: 150px;
    text-align: center;
}

.hair-label {
    width: 16%;
    font-size: larger;
    text-align: center;
    position: relative;
    display: inline-block;
    border: none;
    color: rgb(173, 173, 173);
    cursor: pointer;
}

.tab-box {
    padding: 0 5%;
    margin: 0 auto;
    margin-bottom: 100px;
}


 /* ▼選択状態のタブ(＝チェックが入っているラジオボタンの隣にあるタブの装飾) */
input:checked + .hair-label {
    color: black;
}

input:checked + .hair-label::after {
    content: "";
    width: 80%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -3px;
    left: 10%;
}

.tab-contents {
    display: none;
    width: 100%;
    margin-top: 33px;
}

#tabcheck1:checked ~ #tab-contents1 {
    display: block;
}
#tabcheck2:checked ~ #tab-contents2 {
    display: block;
}
#tabcheck3:checked ~ #tab-contents3 {
    display: block;
}
#tabcheck4:checked ~ #tab-contents4 {
    display: block;
}
#tabcheck5:checked ~ #tab-contents5 {
    display: block;
}
#tabcheck6:checked ~ #tab-contents6 {
    display: block;
}

.style-contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
}

.style-item {
    width: 40%;
    text-align: center;
    margin-bottom: 40px;
}

.style-item p {
    margin-bottom: 5px;
}

.style-item img {
    width: 100%;
    margin-bottom: 8px;
    transition: .3s;
}

.style-item img:hover{
    opacity: 0.8;
}

@media (max-width: 850px) {

    section {
        margin-bottom: 60px;
    }

    /* header */
    
    .toggle-btn {
        display: block;
    }

    .header-nav {
        display: none;
    }

    /* main */

    /* salon */

    .sec-title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    
    .salon h3 {
        font-size: 19px;
        margin-bottom: 20px;
    }
    
    .salon-text {
        font-size: 13px;
        text-align: left;
        padding: 0 80px;
        margin-bottom: 30px;
    }
    
    .salon-text p {
        margin-bottom: 18px;
    }

    /* map */

    .map {
        flex-direction: column-reverse;
    }

    .map iframe,
    .map-box {
        width: 100%;
    }

    .map-box h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .map-box dl {
        display: flex;
        margin-bottom: 10px;
    }
    
    .map-box dl dt {
        width: 25%;
    }

    /* footer */

    footer p {
        font-size: 12px;
    }
    
    footer img {
        width: 25px;
    }

    /* staff page */

    .staff-page {
        padding-top: 100px;
    }
    
    .staff-page img {
        width: 50%;
        margin-bottom: 5px;
    }
    
    .staffPage-item p {
        margin-top: 1px;
    }
    
    .staffPage-items {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .staff-Profile {
        margin-top: 6px;
    }
    
    .staffPage-web {
        margin-top: 10px;
    }

    /* blog */

    
.blog-title {
    font-size: 20px;
    margin-bottom: 4px;
}

.blog-day {
    font-size: 12px;
    margin-bottom: 4px;
}

.blog-name {
    font-size: 12px;
    margin-bottom: 30px;
}

.blog-text p {
    font-size: 11px;
    margin-bottom: 7px;
}

.blog-btn {
    bottom: -23.5%;
}

.blog-btn a {
    padding: 1px 5px;
}

.blog-page {
    padding-top: 100px;
    text-align: center;
}


.blog-contents {
    margin-bottom: 30px;
}

.blog-contents:last-child {
    margin-bottom: 50px;
}

/* hair style */

.hair-page {
    padding-top: 100px;
}

.hair-label {
    width: 32%;
    margin-bottom: 30px;
}

.tab-box {
    margin-bottom: 20px;
}

}
